.home-container {
  padding: 20px;
}

.home-title-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.home-title-sec-h1 {
  color: brown;
  font-size: 100px;
}

.home-about-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.home-about-sec-p {
  font-size: 16px;
}

.home-about-sec-h6 {
  font-size: 20px;
}

.home-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.home-projects-sec {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.repo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* two equal columns */
  gap: 0.5rem 1rem;
  list-style: none;
  padding: 0;
}

.repo-list li {
  padding: 0.5rem;
  color: brown;
}
