.generate-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generate-password-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.generate-password-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-text {
  width: 100px; /* consistent width for alignment */
}

.list-input {
  margin-left: 10px; /* smaller gap between label and input */
}
