.utils-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.utils-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* gap: 10px; */
}

.utils-accordian {
  margin-top: 20px;
}

.btn {
  background-color: unset;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid gray;
}
.active {
  border-bottom: 1px solid aqua;
  background-color: aqua;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
